<body>
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/velasChico1.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-shadow">AROMAS MÍSTICOS</h5>
          <p class="text-shadow">Con sus aromas hechiceros, las velas despliegan la magia sutil del universo encantado.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/velasChico2.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-shadow">ESENCIAS ALQUÍMICAS</h5>
          <p class="text-shadow">Las velas alquímicas destilan esencias que transforman el ambiente en un rincón de armonía celestial.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/velasChico3.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-shadow">LUZ AROMÁTICA</h5>
          <p class="text-shadow">En la luz aromática, se teje la esencia cálida de momentos inolvidables y serenidad compartida.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/velasChico4.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-shadow">AROMAS SALVAJES</h5>
          <p class="text-shadow">En el reino de las velas aromáticas, los olores danzan como criaturas mágicas, cautivando sentidos animales.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/velasChico5.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-shadow">RESPLANDOR PERFUMADO</h5>
          <p class="text-shadow">En el resplandor perfumado, las velas destilan fragancias que encienden recuerdos y embellecen instantes cotidianos.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="info-container">
    <h3>"Con aromas encantados, las velas se convierten en portadoras de mágicos hechizos y energías sutiles."</h3>
    <p class="info-subtitle">Nuestro servicio esta avocado a la comodidad de nuestros clientes...</p>
    <div class="info-container-div">
        <div class="info-div">
        <i class="bi bi-truck info-div-icon"></i>
        <p class="info-div-title">ENVÍOS:</p>
        <p class="info-div-desc">Los envíos dentro de Montevideo se realizan por
            cadetería MVD. Hacia el interior del país los envíos se realizan por
            Agencia Central (DAC).</p>
        </div>
        <div class="info-div">
        <i class="bi bi-calendar-week info-div-icon"></i>
        <p class="info-div-title">PREPARACIÓN:</p>
        <p class="info-div-desc">Por lo general, los pedidos suelen demorar entre
            10 y 15 días en estar prontos, te rogamos paciencia. De todas formas, no
            dudes en escribir si te surge alguna duda.</p>
        </div>
        <div class="info-div">
        <i class="bi bi-house-fill info-div-icon"></i>
        <p class="info-div-title">PICK UP CENTER:</p>
        <p class="info-div-desc">En caso de que decidas retirar el producto en el
            centro de pick up, la dirección es Avenida del Libertador Brigadier
            General Juan Antonio Lavalleja N° 1921, esquina Asunción.</p>
        </div>
        <div class="info-div">
        <i class="bi bi-magic info-div-icon"></i>
        <p class="info-div-title">MAGIA:</p>
        <p class="info-div-desc">Todas las velas son artesanales, hechas de soja
            vegetal y aromáticas. Además, pueden personalizarse del color que tu
            prefieras.</p>
        </div>
    </div>
  </div>

  <div class="buy-info-container">
    <h3>Cómo realizar tu pedido:</h3>
    <p>¡Es super sencillo! Solo seguí los siguientes pasos y deja que la magia
      haga lo suyo...</p>
    <img src="img/comoComprar.png" alt="" srcset="" />
  </div>

  <div class="dest-info-container">
    <h3>Mira los artículos más destacados de la tienda:</h3>
    <p>¡No te vayas sin visitar la tienda para ver el catálogo completo!</p>
    <div class="dest-products">
      <div class="dest-prod">
        <a href="#"><img src="img/menu1.jpg" alt="" /></a>
        <h4>Titulo</h4>
        <p>$ 9.999</p>
      </div>
      <div class="dest-prod">
        <a href="#"><img src="img/menu1.jpg" alt="" /></a>
        <h4>Titulo</h4>
        <p>$ 9.999</p>
      </div>
      <div class="dest-prod">
        <a href="#"><img src="img/menu1.jpg" alt="" /></a>
        <h4>Titulo</h4>
        <p>$ 9.999</p>
      </div>
      <div class="dest-prod">
        <a href="#"><img src="img/menu1.jpg" alt="" /></a>
        <h4>Titulo</h4>
        <p>$ 9.999</p>
      </div>
      <div class="dest-prod">
        <a href="#"><img src="img/menu1.jpg" alt="" /></a>
        <h4>Titulo</h4>
        <p>$ 9.999</p>
      </div>
    </div>
  </div>

    <div class="payment-container">
    <h3>Nuestras formas de pago:</h3>
    <p class="payment-subtitle">Consultá por cual te quede más cómoda de utilizar...</p>
    <div class="payment-container-div">
        <div class="payment-div">
            <i class="bi bi-bank2 payment-div-icon"></i>
        <p class="payment-div-title">TRANSFERENCIAS:</p>
        <p class="payment-div-desc">Contamos con caja de ahorro en pesos del Banco República para aceptar transferencias desde cualquier banco.</p>
        </div>
        <div class="payment-div">
            <i class="bi bi-credit-card-fill payment-div-icon"></i>
        <p class="payment-div-title">OCA BLUE:</p>
        <p class="payment-div-desc">Aceptamos trasnferencias en nuestra cuenta en pesos de OCA Blue así como depósitos a traves de los locales OCA y Red Pagos.</p>
        </div>
        <div class="payment-div">
            <i class="bi bi-cash-coin payment-div-icon"></i>
        <p class="payment-div-title">EFECTIVO:</p>
        <p class="payment-div-desc">Recibimos efecto siempre y cuando la entrega de los productos sea en persona con el comprador.</p>
        </div>
        <div class="payment-div">
            <i class="bi bi-qr-code-scan payment-div-icon"></i>
        <p class="payment-div-title">MERCADO PAGO:</p>
        <p class="payment-div-desc">También puedes hacer tu compra con cualquier tarjeta a traves de Mercado Pago (10% de recargo).</p>
        </div>
    </div>
  </div>
</body>