<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <title>Magic Candle - Velas de Soja Artesanales</title>
  </head>
  <body>{{{body}}}</body>
  <div id="footer">
    <p id="marca">Desarrollado por JPC® - Montevideo - 25/09/2023</p>
    <p id="marca">Versión de DESARROLLO</p>
    <img src="/img/LogoJPC.svg" alt="JPC logo" />
  </div>
  <script src="/assets/js/index.js"></script>
</html>